{% extends "layout.html" %}
{% block content %}
    <div>
    <h1>Clear Mind</h1>
    </div>
    
    <div>
        <h2>
            The Clear Mind website is designed to support 
            individuals with short-term memory loss and hearing 
            impairments by providing an intuitive platform that 
            leverages advanced large language models (LLMs). 
            The website allows users to record conversations 
            or important audio notes and automatically link 
            these recordings to specific individuals. 
            These recordings are then stored in a user-friendly 
            calendar system, enabling easy retrieval and review at any time. 
            This solution aims to empower users by helping them manage their 
            day-to-day interactions and memories more effectively, thus improving 
            their overall quality of life.
        </h2>
    </div>
{% endblock content %}
